
<div class="center-box">
    <h1>Drop file dcm</h1>
</div>


<div class="center-box">
    <div style="width:512px;height:512px;position:relative;color: white;display:inline-block;border-style:solid;border-color:black;"
         oncontextmenu="return false"
         class='disable-selection noIbar'
         unselectable='on'
         onselectstart='return false;'
         onmousedown='return false;'>
        
         <div id="dicomImage"
         (dragover)="handleDragOver($event)"
         (drop)="handleFileSelect($event)"
          
         style="width:512px;height:512px;top:0px;left:0px; position:absolute">
        </div>

    </div>
</div>  

<router-outlet></router-outlet>
